annotated-types
asgiref
beautifulsoup4
blis
Brotli
catalogue
certifi
cffi
charset-normalizer
click
cloudpathlib
colorama
confection
cssselect2
cymem
Django
django-ckeditor
django-js-asset
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl#sha256=1932429db727d4bff3deed6b34cfc05df17794f4a52eeb26cf8928f7c1a0fb85
fonttools
idna
Jinja2
joblib
langcodes
language_data
marisa-trie
markdown-it-py
markdownify
MarkupSafe
mdurl
murmurhash
nltk
numpy
packaging
pdfkit
pillow
preshed
pycparser
pydantic
pydantic_core
pydyf
Pygments
pyphen
regex
requests
rich
scikit-learn
scipy
setuptools
shellingham
six
smart_open
soupsieve
spacy
spacy-legacy
spacy-loggers
sqlparse
srsly
thinc
threadpoolctl
tinycss2
tinyhtml5
tqdm
typer
typing-inspection
typing_extensions
tzdata
urllib3
wasabi
weasel
weasyprint
webencodings
wrapt
zopfli